@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";


#viewport {
  height: 200px ;
  width: 100%;
}
#toolbar{
  display: block;
}
#peers{

  float :right;
  margin-right: 0px;
  height: 20px;
}