@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";


#viewport, canvas {
  min-height: 500px;
  height: 500px;
  width: 100%;
}
#toolbar{
  display: block;

}
#peers{

 /* float :right;
  height: 20px;*/
}

#editorbutton{
  margin:0 0 0 0;
  padding: 15px;
  color: #F8F8F8;
  background-color: #428bca;
}