@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";


#viewport {
  min-height: 500px;
  height: 800px ;
  width: 100%;
}
#toolbar{
  display: block;
}
#peers{

  float :right;
  margin-right: 0px;
  height: 20px;
}