extends layout

block content
    #container
    button.btn.btn-default.glyphicon.glyphicon-plus#addCube  Add cube
    button.btn.btn-default.glyphicon.glyphicon-floppy-open#importScene  Import scene
    button.btn.btn-default.glyphicon.glyphicon-floppy-save#exportScene  Export scene
    #buttons
        button.btn.btn-success#startButton Start
        button.btn.btn-primary#sendButton Send
        button.btn.btn-danger#closeButton Stop
    input#pid
    input#pid2(type="text")
    button.btn#connect connect
    #helloworld