extends layout
block nav
    ul.nav.navbar-nav
        li.active
            a(href="/") Home
        li
            a(href="/scenes") Scenes
block content
    .jumbotron
        h1=subtitle
        p 3DP2P application
        p
            a.btn.btn-primary.btn-lg(href="/scenes") Try it now !