extends layout

block content
    #container
    button.btn.btn-default.glyphicon.glyphicon-plus#addCube  Add cube
    #buttons
        button.btn.btn-primary#sendButton Send
    input#pid
    input#pid2
    button.btn#connect connect
    #helloworld