doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="#") 3DP2P
        #navbar.collapse.navbar-collapse
          block nav
    #content.container
      block content
    script( src='/javascripts/jquery-1.11.1.min.js' )
    script( src='/javascripts/bootstrap.js' )