doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    block content
    script(src="http://cdn.peerjs.com/0.3/peer.js")
    script(type='application/javascript',langage='javascript', src='/javascripts/front.js')
    script(type = 'application/javascript', langage = 'javascript', src = '/javascripts/stats.min.js')